<h2>New book投稿一覧</h2>
<% @books.each do |book| %>
  <p>Title</p>
  <span>
    <%= link_to book.title, book_path(book.id) %>
  </span>
  <p>Body</p>
  <span>
    <%= link_to book.body, book_path(book.id) %>
  </span>
<% end %>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
